footer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  width: 100%;
  height: 186px;
  background-color: #353535;
  color: #FFFFFF;
}
footer ul {
  display: flex;
  flex-direction: column;
  gap: 7px;
  width: 190px;
  padding: 0px 0px 0px 25px;
  list-style-type: none;
}
@media (min-width: 1440px) {
  footer {
    flex-direction: row-reverse;
    justify-content: flex-start;
    align-items: flex-end;
    height: 114px;
  }
  footer ul {
    flex-direction: row;
    justify-content: flex-start;
    gap: 30px;
    width: 661px;
    height: 20px;
  }
  footer li {
    display: flex;
    gap: 10px;
  }
}

body {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  min-height: 1275px;
  max-height: 1670px;
  margin: 0;
}
@media (min-width: 768px) {
  body {
    height: 1395px;
  }
}

@keyframes slideInCheck {
  from {
    transform: translateX(110%);
  }
  to {
    transform: translateX(0%);
  }
}
@keyframes slideOutCheck {
  from {
    transform: translateX(0%);
  }
  to {
    transform: translateX(110%);
  }
}
@keyframes slideInPrice {
  from {
    transform: translateX(0%);
  }
  to {
    transform: translateX(-250%);
  }
}
@keyframes slideOutPrice {
  from {
    transform: translateX(-250%);
  }
  to {
    transform: translateX(0%);
  }
}
@keyframes scaleInCard {
  0% {
    transform: scale(0);
    opacity: 0;
  }
  50% {
    opacity: 0.5;
  }
  100% {
    transform: scale(1);
    opacity: 1;
  }
}
.nom {
  display: flex;
  flex-direction: row;
}

.Entree {
  display: flex;
  flex-direction: column;
  gap: 10px;
  width: 349px;
}
@media (min-width: 1440px) {
  .Entree {
    width: 634px;
  }
}
@media (min-width: 768px) {
  .Entree {
    max-width: 634px;
    width: 60%;
  }
}

.Plat {
  display: flex;
  flex-direction: column;
  gap: 10px;
  width: 349px;
}
@media (min-width: 1440px) {
  .Plat {
    width: 634px;
  }
}
@media (min-width: 768px) {
  .Plat {
    max-width: 634px;
    width: 60%;
  }
}

.Desserts {
  display: flex;
  flex-direction: column;
  gap: 10px;
  width: 349px;
}
@media (min-width: 1440px) {
  .Desserts {
    width: 634px;
  }
}
@media (min-width: 768px) {
  .Desserts {
    max-width: 634px;
    width: 60%;
  }
}

.card {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  position: relative;
  box-shadow: 0px 4.01px 15.04px 0px rgba(0, 0, 0, 0.1019607843);
  border-radius: 15.04px;
  border: none;
  width: 349px;
  height: 69px;
  padding: 0;
  overflow: hidden;
  animation: scaleInCard 2s;
}
@media (min-width: 768px) {
  .card {
    width: 100%;
  }
}
.card .card-text {
  display: flex;
  flex-direction: column;
  gap: 5px;
  padding-left: 10px;
  width: 287px;
  height: 44px;
}
.card .card-text p, .card .card-text h3 {
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
}
@media (min-width: 1440px) {
  .card .card-text {
    width: 572px;
  }
}
.card .price {
  position: absolute;
  right: 10px;
  top: 37px;
  transition-duration: 1s;
  transform: translateX(0%);
}
@media (min-width: 1440px) {
  .card {
    width: 634px;
  }
}
.card .check {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 59px;
  height: 69px;
  border-radius: 0px 15px 15px 0px;
  border: none;
  transition-duration: 1s;
  transform: translateX(110%);
  background-color: aquamarine;
}
.card .check i {
  color: white;
  font-size: 20px;
}
.card:focus .check {
  animation: slideInCheck 1s forwards;
}
.card:focus .price {
  animation: slideInPrice 1s forwards;
}
.card:focus .card-text {
  width: 200px;
  transition: font-size 0.3s ease;
}
.card:not(:focus) .check {
  animation: slideOutCheck 1s forwards;
}
.card:not(:focus) .price {
  animation: slideOutPrice 1s forwards;
}

h1 {
  font-family: "Shrikhand";
  font-size: 28px;
  font-style: italic;
  font-weight: 400;
  line-height: 40.82px;
  text-align: left;
  text-decoration-skip-ink: none;
}

h2 {
  font-family: "Roboto";
  font-size: 16px;
  font-weight: 300;
  line-height: 18.75px;
  text-align: left;
  text-decoration-skip-ink: none;
  border-bottom: solid 3px #99E2D0;
  width: 40px;
  padding-bottom: 5px;
  margin: 0px 0px 15px 0px;
}

h3 {
  font-family: "Roboto";
  font-size: 18px;
  font-weight: 500;
  line-height: 21.09px;
  text-align: left;
  text-decoration-skip-ink: none;
}

p {
  font-family: "Roboto";
  font-size: 15.04px;
  font-weight: 300;
  line-height: 19px;
  text-align: left;
  text-decoration-skip-ink: none;
}

h1, h3, p {
  margin: 0;
}

.logop {
  font-family: "Shrikhand";
  font-size: 18px;
  font-style: italic;
  font-weight: 400;
  line-height: 26.24px;
  padding-top: 22px;
  padding-left: 25px;
}
@media (min-width: 1440px) {
  .logop {
    padding: 0px 25px 0px 0px;
    margin-bottom: 16px;
    width: 139px;
    height: 27px;
  }
}

a {
  color: inherit;
  text-decoration: none;
}

header {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  position: relative;
  width: 100%;
  height: 63px;
}
header i {
  position: absolute;
  top: 17px;
  left: 17px;
  font-size: 30px;
}
header img {
  width: 197px;
  height: 36px;
  object-fit: initial;
}
@media (min-width: 1440px) {
  header {
    height: 96px;
  }
  header i {
    top: 20px;
  }
}
@media (min-width: 768px) and (max-width: 1439px) {
  header i {
    top: 10px;
  }
}

img {
  width: 100%;
  height: 275px;
  object-fit: cover;
}

main {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.menu {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  position: relative;
  gap: 0;
  min-width: 375px;
  width: 73%;
  min-height: 1089px;
  margin-top: -60px;
  border-radius: 50px 50px 0px 0px;
  background-color: #EAEAEA;
  overflow: hidden;
}

.nom {
  display: flex;
  justify-content: space-between;
  width: 341px;
  height: 29px;
  margin-top: 20px;
}
.nom .Like {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 22px;
  height: 21px;
  position: relative;
  border: none;
  background: none;
}
.nom .Like i {
  font-size: 22px;
  position: absolute;
  top: 8px;
  right: 20px;
}
.nom .Like i:nth-of-type(2) {
  color: transparent;
}
.nom .Like:focus i:first-child {
  color: transparent;
}
.nom .Like:focus i:nth-of-type(2) {
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  -moz-background-clip: text;
  -moz-text-fill-color: transparent;
  background-image: linear-gradient(to top, #9356DC -11.44%, #FF79DA 123.93%);
}

.commander button {
  border-radius: 50px;
  width: 218px;
  height: 50px;
  background: linear-gradient(to top, #9356DC -11.44%, #FF79DA 123.93%);
  border: none;
  margin-bottom: 20px;
  color: #FFFFFF;
  font-family: "Roboto";
  font-weight: 500;
  line-height: 18.75px;
  text-align: center;
}

@media (min-width: 1440px) {
  body {
    display: flex;
    flex-direction: column;
    margin: 0;
    width: 100%;
    height: 1705px;
  }
  header {
    width: 100%;
    height: 96.34px;
  }
  main {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  main img {
    height: 383px;
    width: 100%;
  }
  .menu {
    width: 1055px;
    height: 1164px;
    margin-top: -20px;
  }
  .menu .nom {
    width: 307px;
    height: 41px;
  }
  .menu .nom .Like i {
    top: 8px;
    right: 0px;
  }
}
@media (min-width: 768px) and (max-width: 1440px) {
  body {
    display: flex;
    flex-direction: column;
    margin: 0;
    width: 100%;
    height: 1705px;
  }
  header {
    width: 100%;
    height: 150px;
  }
  main {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  main img {
    height: 300px;
    width: 100%;
  }
  .menu {
    width: 73%;
    height: 1164px;
    margin-top: -20px;
  }
  .menu .nom {
    width: 307px;
    height: 41px;
  }
  .menu .nom .Like i {
    top: 8px;
    right: 0px;
  }
}

/*# sourceMappingURL=others.css.map */
