
@import "utils/couleur_variables";

@import "base/text_normalize";

/****** Body ***********/
body {
    display: flex;
    flex-direction: column;

    margin: 0;
    width: 100%;
    height: 2252px;
}
/****** Header ***********/

header {
    width: 100%;
    height: 113px;
}

.logo {
    display: flex;
    justify-content: center;
    align-items: center;

    width:100%;
    height: 63px;
}

.logo img {
    max-width: 162px;
    max-height: 44px;
}

.location {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 17px;
    
    width: 100%;
    height: 50px;

    background: $gris-blanc;
    box-shadow: inset 0px 2px 6px 0px #00000040;
}

.location input {
    width: 110px;
    height: 19px;
    border: none;
    background: none;
}

.location input::placeholder {
    width: 109px;
    color: $noir;
    font-family: "Roboto";
    font-weight: 500;
    font-size: 16px;
    line-height: 18.75px;

}

/****** Recherche ***********/
.Recherche {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 30px;

    height: 250px;
    background: #f6f6f6;
}

.Recherche .bloc1 {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    width: 100%;
}

.Recherche h1 {
    width: 275px;
    height: 68px;
    font-family: 'Roboto';
    font-weight: 700;
    size: 24px;
    line-height: 28.13px;
    text-align: center;
    margin: 0;
}

.Recherche p {
    width: 315px;
    height: 46px;
    font-family: 'Roboto';
    font-weight: 300;
    size: 18px;
    line-height: 21.09px;
    text-align: center;
    margin: 0;
}

.Recherche button {
    border-radius: 50px;
    width: 218px;
    height: 50px;
    background: $violet_bouton;
    border: none;

    color: $blanc;
    font-family: 'Roboto';
    font-weight: 500;
    size: 16px;
    line-height: 18.75px;
    text-align: center;
}

/****** Fonctionnement ***********/
.Fonctionnement {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    gap:20px;

    width: 100%;
    height: 440px;
}

.Fonctionnement h2 {
    display: flex;
    justify-content: flex-start;

    width: 275px;
    margin-bottom: 0;
    margin-right: 70px;
    margin-top: 30px;
}

.Etape {
    display: flex;
    flex-direction: column;
    gap: 30px;
}

.Fonctionnement button {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 20px;

    width: 335px;
    height: 72.38px;
    border-radius: 20px;
    border: none;
    padding: 0;
    position: relative;

    background: #f6f6f6;
    box-shadow: 0px 4px 15px 0px #00000026;


    font-family: 'Roboto';
    font-size: 16px;
    font-weight: 500;
    line-height: 18.75px;
}

.Fonctionnement i:first-child {
    display: flex;
    justify-content: center;
    align-items: center;

    width: 24px;
    height: 24px;
    position: absolute;
    left: -11.5px;
    border-radius: 25px;
    background-color: $violet;
    color: $blanc;
}

.Fonctionnement i:nth-of-type(2) {
    position: absolute;
    left: 30.5px;
}

.Fonctionnement .button-text {
    position: absolute;
    left: 96px;
    width: 211px;
    text-align: start;
}

/****** Restaurant ***********/
.restaurant {
    display: flex;
    flex-direction: column;
    align-items: center;

    width: 100%;
    height: 1263px;
    background: #f6f6f6;

    & .restaurant-cards {
        display: flex;
        flex-direction: column;
        gap: 18px;

        width: 340px;
        height: 1058px;
    }

    & .card {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;

        width: 340px;
        height: 251px;
        border-radius: 15px;
        box-shadow: 0px 4px 15px 0px #00000026;

        position: relative;

    }

    & a {
        width: 340px;
    }

    & img {
        width: 340px;
        height: 163.15px;
        border-radius: 15px 15px 0px 0px;

        object-fit: cover;
    }

    & .card-content {
        display: flex;
        flex-direction: row;
        justify-content: space-around;
        align-items: center;

        width: 340px;
        height: 100px;
    }

    & .card-txt {
        display: flex;
        flex-direction: column;

        width: 267px;
    }

    & .Like {
        display: flex;
        justify-content: center;
        align-items: center;

        width: 22px;
        height: 21px;
        position: relative;

        border: none;
        background: none;

        & i {
            font-size: 22px;
            position: absolute;
        }

        & i:nth-of-type(2) {
            color: transparent;
        }

        &:focus i:first-child {
            color: transparent;
        }

        &:focus i:nth-of-type(2) {
            -webkit-background-clip: text;
            -webkit-text-fill-color: transparent;
            -moz-background-clip: text;
            -moz-text-fill-color: transparent;
            background-image: $violet_bouton;
        }

    }

    & .Badge {
        display: flex;
        justify-content: center;
        align-items: center;

        width: 80px;
        height: 29px;
        margin: 0;
        border-radius: 5px;

        position: absolute;
        right: 10px;
        top: 10px;

        background: $vert-claire;

        & p {
            font-family: 'Roboto';
        font-size: 14px;
        font-weight: 500;
        line-height: 16.41px;
        }
    }
}

/****** Footer ***********/

footer {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;

    width: 100%;
    height: 186px;
    

    background-color: #353535;
    color: $blanc;
}

footer ul {
    display: flex;
    flex-direction: column;
    gap: 7px;

    width: 190px;
    padding: 0px 0px 0px 25px;

    list-style-type: none;
}

@media (min-width: 1440px) {
    body {
        display: flex;
        flex-direction: column;
    
        margin: 0;
        width: 100%;
        height: 1395px;
    }

    .Recherche h1 {
        width: 645px;
    }

    .Recherche p {
        width: 645px;
    }

    .Fonctionnement {
        flex-direction: column;
        justify-content: center;
        height: 228px;
        gap: 25px;

        & h2 {
            width: 1000px;
            margin-top: 0;
        }
    }

    .Etape {
        flex-direction: row;
        width: 1053px;
        gap: 25px;
    }

    .restaurant  {

        & .restaurant-cards {
        flex-wrap: wrap;
        column-gap: 100px;
        height: 552px;
        width: 1080px;
        }

        .card {
            width: 490px;
            height: 251px;
        }

        & img {
            width: 498.65px;
            height: 231px;
        }
    }

}