
@import "utils/couleur_variables";

@import "base/text_normalize";

@import "layouts/body.scss";

@import "layouts/header.scss";


/****** Main ********/
main {
    width: 100%;
}

/****** Recherche ***********/
.Recherche {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 30px;

    height: 300px;

    background: #f6f6f6;
    box-shadow: inset 0px 2px 6px 0px #00000040;

    & .bloc1 {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    
        width: 100%;
    }

    & p {
        width: 315px;
        height: 46px;
        
        text-align: center;
    }

    & button {
        width: 218px;
        height: 50px;

        background: $violet_bouton;
        border: none;
        border-radius: 50px;
    
        color: $blanc;
        font-family: 'Roboto';
        font-weight: 500;
        size: 16px;
        line-height: 18.75px;
        text-align: center;
    }

    @media (min-width: 1440px) {
        height: 250px;

        h1 {
        width: 100%;
        }
    
        p {
        width: 100%;
        }
    }
}

/****** Fonctionnement ***********/
.Fonctionnement {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    gap:20px;

    width: 100%;
    height: 440px;

    & h2 {
        display: flex;
        justify-content: flex-start;
    
        width: 275px;
        margin-bottom: 0;
        margin-right: 70px;
        margin-top: 30px;
    }
    
    & .Etape {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        gap: 30px;
    }

    & button {
        display: flex;
        justify-content: center;
        align-items: center;
        gap: 20px;
    
        width: 335px;
        height: 72.38px;
    
        border-radius: 20px;
        border: none;
        padding: 0;
        position: relative;
        background: #f6f6f6;
        box-shadow: 0px 4px 15px 0px #00000026;
    
        font-family: 'Roboto';
        font-size: 16px;
        font-weight: 500;
        line-height: 18.75px;
    }

    & i:first-child {
        display: flex;
        justify-content: center;
        align-items: center;
    
        width: 24px;
        height: 24px;

        position: absolute;
        left: -11.5px;
        border-radius: 25px;
        background-color: $violet;
        color: $blanc;
    }

    & i:nth-of-type(2) {
        position: absolute;
        left: 30.5px;
    }

    & .button-text {
        position: absolute;
        left: 96px;
        width: 211px;
        text-align: start;
    }

    @media (min-width: 768px) and (max-width: 1023px) {
        .Etape {
            width: 100%;
        }
    }

    @media (min-width: 1024px) and (max-width: 1439px) {
        height: 228px;

        h2 {
            width: 890px;
        }
        .Etape {
            flex-direction: row;
        }

        button {
            width: 300px;
        }
    }

    @media (min-width: 1440px) {
        flex-direction: column;
        justify-content: center;
        height: 228px;
        gap: 25px;
    
        h2 {
            width: 1000px;
            margin-top: 0;
        }
    
        .Etape {
            flex-direction: row;
            width: 1053px;
            gap: 25px;
        }
    }    
}

/****** Restaurant ***********/
.restaurant {
    display: flex;
    flex-direction: column;
    align-items: center;

    width: 100%;
    height: 1213px;

    background: #f6f6f6;

    & h2 {
        width: 340px;
        margin-top: 50px;
    }

    & .restaurant-cards {
        display: flex;
        flex-direction: column;
        gap: 18px;

        width: 340px;
        height: 1058px;
    }

    & .nouveau {
        display: flex;
        flex-direction: column;
        gap: 18px;
    }

    & .card {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;

        width: 340px;
        height: 251px;
        border-radius: 15px;
        box-shadow: 0px 4px 15px 0px #00000026;

        position: relative;
    }

    & a {
        width: 100%;
    }

    & img {
        width: 340px;
        height: 163.15px;
        border-radius: 15px 15px 0px 0px;

        object-fit: cover;
    }

    & .card-content {
        display: flex;
        flex-direction: row;
        justify-content: space-around;
        align-items: center;

        width: 340px;
        height: 100px;
    }

    & .card-txt {
        display: flex;
        flex-direction: column;

        width: 267px;
    }

    & .Like {
        display: flex;
        justify-content: center;
        align-items: center;

        width: 22px;
        height: 21px;
        position: relative;

        border: none;
        background: none;

        & i {
            font-size: 22px;
            position: absolute;
        }

        & i:nth-of-type(2) {
            color: transparent;
        }

        &:focus i:first-child {
            color: transparent;
        }

        &:focus i:nth-of-type(2) {
            -webkit-background-clip: text;
            -webkit-text-fill-color: transparent;
            -moz-background-clip: text;
            -moz-text-fill-color: transparent;
            background-image: $violet_bouton;
        }
    }

    & .Badge {
        display: flex;
        justify-content: center;
        align-items: center;

        width: 80px;
        height: 29px;
        margin: 0;
        border-radius: 5px;

        position: absolute;
        right: 10px;
        top: 10px;

        background: $vert-claire;

        & p {
            font-family: 'Roboto';
        font-size: 14px;
        font-weight: 500;
        line-height: 16.41px;
        }
    }

    @media (min-width: 1440px) {
        height: 608px;
        padding-top: 30px;
        padding-bottom: 30px;
            
    
        & .restaurant-cards {
        flex-direction: row;
        flex-wrap: wrap;
        column-gap: 100px;
        row-gap: 28px;
    
        height: 552px;
        width: 1080px;
        max-width: none;
        }
    
        h2 {
            width: 1080px;
            margin-top: 0;
            margin-bottom: 30px;
        }
        .card {
            width: 490px;
            height: 251px;
        }
    
        img {
            width: 100%;
            height: 178.52px;
        }
    
        .card-content {
            width: 100%;
            height: 72.38px;
        }
    }

    @media (min-width: 768px) and (max-width: 1023px) {
        .restaurant-cards {
            max-width: 490px;
            width: 100%;
        }

        .card {
            max-width: 490px;
            width: 100%;
        }

        img {
            max-width: 490px;
            width: 100%;
        }

        .card-content {
            max-width: 490px;
            width: 100%;
        }

        .button-text {
            max-width: 490px;
            width: 71%;
        }
    }

    @media (min-width: 1024px) and (max-width: 1439px) {
        height: 700px;

        .restaurant-cards {
            flex-direction: row;
            flex-wrap: wrap;

            width: 900px;
            height: 552px;
            row-gap: 28px;
            column-gap: 100px;
        }

        .card {
            width: 400px;
            height: 251px;
        }
    
        img {
            width: 100%;
            height: 178.52px;
        }
    
        .card-content {
            width: 100%;
            height: 72.38px;
        }
    }
}

/****** Footer ***********/

footer {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;

    width: 100%;
    height: 186px;
    
    background-color: #353535;
    color: $blanc;

    & ul {
        display: flex;
        flex-direction: column;
        gap: 7px;
    
        width: 190px;
        padding: 0px 0px 0px 25px;
    
        list-style-type: none;
    }

    @media (min-width: 1440px) {
        flex-direction: row-reverse;
        justify-content: flex-start;
        align-items: flex-end;
        height: 114px;

        ul {
            flex-direction: row;
            justify-content: flex-start;
            gap: 30px;
    
            width: 661px;
            height: 20px;
        }
    
        li {
            display: flex;
            gap: 10px;
        }
    } 

    @media (min-width: 1024px) and (max-width: 1439px) {
        flex-direction: row-reverse;
        justify-content: flex-start;
        align-items: flex-end;
        height: 104px;
        
        .logop {
            margin-bottom: 10px;
            margin-right: 20px;
        }

        ul {
            flex-direction: row;
            justify-content: flex-start;
            gap: 30px;
    
            width: 661px;
            height: 20px;
        }
    
        li {
            display: flex;
            gap: 10px;
        }
    } 
}

