h1 {
    width: 275px;
    height: 68px;
    font-family: 'Roboto';
    font-weight: 700;
    line-height: 28.13px;
    text-align: center;
    margin: 0;
}

h2 {
    font-family: 'Roboto';
    font-size: 24px;
    font-weight: 700;
    line-height: 28.13px;
}


h3 {
    margin: 0;
    font-family: 'Roboto';
    font-size: 18px;
    font-weight: 700;
    line-height: 21.09px;
}

p {
    margin: 0;
    font-family: 'Roboto';
    font-size: 17px;
    font-weight: 300;
    line-height: 19.92px;
}

.logop {
    font-family: 'Shrikhand';
    font-size: 18px;
    font-style: italic;
    font-weight: 400;
    line-height: 26.24px;

    padding-top: 22px;
    padding-left: 25px;

    @media (min-width: 1440px) {
        padding: 0px 25px 0px 0px;
        margin-bottom: 16px;
        width: 139px;
        height: 27px;
    }
}

a {
    color: inherit;
    text-decoration: none;
}