body {
    display: flex;
    flex-direction: column;
    align-items: center;

    width: 100%;
    min-height: 1275px;
    max-height: 1670px;
    margin: 0;
    
    @media (min-width: 768px) {
        height: 1395px;
    }

}